@mixin styles {
  header {
    justify-content: center;
    padding: 0;

    @media (hover: hover) {
      &:hover {
        img {
          opacity: 0;
        }

        button {
          opacity: 1;
        }
      }
    }

    img {
      position: absolute;
    }

    p {
      display: none;
    }

    button {
      opacity: 0;
    }
  }

  section {
    &[data-name]:not([data-name=""]) {
      padding-top: 0;

      &:after {
        display: none;
      }
    }

    div {
      justify-content: center;
      padding: 0;

      p {
        display: none;
      }
    }
  }
}
