@mixin styles {
  header {
    @media (hover: hover) {
      &:hover {
        img {
          opacity: 0;
        }

        button {
          opacity: 1;
        }
      }
    }

    img {
      position: absolute;
    }

    p {
      display: none;
    }

    button {
      margin-left: 0.25rem;
      opacity: 0;
    }
  }

  section {
    &[data-name]:not([data-name=""]) {
      display: none;
      padding-top: 0;
    }

    div p {
      display: none;
    }
  }
}
