@mixin styles {
  header {
    img {
      position: relative;
    }

    p {
      display: block;
    }

    a,
    button {
      opacity: 1;
    }
  }

  section {
    &[data-name]:not([data-name=""]) {
      display: block;
      padding-top: 2.5rem;
    }

    a p,
    div p {
      display: block;
    }
  }
}
