@mixin styles {
  header {
    padding: 0 0.5rem;

    img {
      position: relative;
    }

    p {
      display: block;
    }

    button {
      opacity: 1;
    }
  }

  section {
    &[data-name]:not([data-name=""]) {
      display: block;
      padding-top: 2.5rem;
    }

    div p {
      display: block;
    }
  }
}
